name: Release ndc-prometheus (fork)
on:
  push:
    tags:
      - "v*"

env:
  DOCKER_REGISTRY: ghcr.io
  DOCKER_IMAGE_NAME: machanirobotics-labs/ndc-prometheus

jobs:
  release-image:
    name: Build and push ndc-prometheus image
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_IMAGE_NAME }}

      - name: Build and push docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.docker-metadata.outputs.tags }}
          labels: ${{ steps.docker-metadata.outputs.labels }}
          platforms: linux/amd64,linux/arm64

  build-cli-binaries:
    name: Build the CLI binaries
    runs-on: ubuntu-latest
    needs: [release-image]
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Build the CLI
        run: |
          VERSION="$GITHUB_REF_NAME" make ci-build-configuration
          mkdir release
          .github/scripts/plugin-manifest.sh
          mv _output/* release

      - uses: actions/upload-artifact@v4
        with:
          path: release/ndc-prometheus-*
          if-no-files-found: error
          name: artifact

      - name: Get version from tag
        id: get-version
        run: |
          echo "tagged_version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Create a draft release
        uses: ncipollo/release-action@v1
        with:
          draft: true
          tag: ${{ steps.get-version.outputs.tagged_version }}
          artifacts: release/*
